<!-- -----------------------------------------------------------
This document is the creation of Thirty Third Marketing's
Development Team.  No copy of this work or of the source code
of this work may be used for commercial purposes. We protect
our work by the State of Ohio's copyright laws. Ohio 3352-7-09
Copyrighted Materials.
Corey Parker,
Founder/Developer

Notes:
-Website is divided into sections
-Keep the content light, draw customers in through visuals
-Light Colors
-Header Fonts: Oswald
-Colors:
Orange: #ff8643b; enthusiasm
Blue: #343a40;
-Include Payment Section with Plans & Pricing
-Push your visitor to take a specific ACTION
-This isn't where all the content goes, make it feel important
-Communicate your value proposition clearly. Describe the problem
your product solves and how it can improve your visitor’s life or
business. Be very specific. Don’t say ‘You’ll save money’.
Be direct and say, ‘You will save $30/month on your phone bill’.
Cut out the comparison process and say outright why your offer is
the best – “The only product on the market that gives you…”
-The rule of Fogg Behavior Model clearly states that people
only take action when three things happen at once — you present
a trigger, they are highly motivated to do something and when it’s
easy to take the action. A persuasive copy can help you build visitors’
motivation, make them act on the desire and convince them that it’s easy
to do so.
------------------------------------------------------------ -->
<html lang="en" dir="ltr">
<head>
<title>Your Cincinnati Based Agency | Thirty Third Marketing</title>

<!-- SEO -->
<!-- Bootstrap/Basic Meta-->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!--Location-->
<meta name="geo.region" content="US-OH" />
<meta name="geo.placename" content="Cincinnati" />
<meta name="geo.position" content="39.103118;-84.51202" />
<meta name="ICBM" content="39.103118, -84.51202" />

<!--Description-->
<meta name="description" content="Cincinnati's Marketing Specialists | Facebook Adveritising, Website Development, Website Design,
Learn More Today! 513.858.9316">
<meta name="keywords" content="digital marketing, thirty third, Thirty-Third Marketing, cincinnati, cincinnati marketing, demographic targeting, marketing agency, facebook advertising">

<!--Social Media-->
<!-- <meta name="og:title" property="og:title" content="Your Awesome Open Graph Title"> -->

<!--Robots-->
<meta name="robots" content="index, follow">

<!-- Theme -->
<meta name="theme-color" content="#ff843b;"/>
<!--Priority-->
<link href="http://thirtythirdmarketing.com" rel="canonical">

<!--Bootstrap-->
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">


</head>

<body>

  <!--Navigation-->

  <!--Main Content-->
    <!--Call to Action-->

  <!--Motivational Portfolio-->

  <!--Contact-->

  <!--Footer-->

  <!--Scripts-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
